<header th:fragment="header" class="header upsa-bg">
    <div class="left-column-header"><a href="#" class="logo">EPM-UUI</a><span
            class="header-separate pull-right"><span></span></span><span
            class="glyphicon glyphicon-align-justify pull-right sidebar-left-toggle"></span></div>

<!--
    <h1>EPM-UPSA</h1>
<div class="menu-custom header-menu">
    <ul>
        <li><a href="#">Level 1</a></li>
        <li><a href="#">Level 1 <span class="caret"></span></a>
            <ul>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Level 2 <span class="badge">42</span></a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Level 2 <span class="right-caret pull-right"></span></a>
                    <ul>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3 <span class="badge">42</span></a></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Level 2</a></li>
            </ul>
        </li>
        <li><a href="#">Level 1</a></li>
        <li><a href="#">Level 1</a></li>
        <li><a href="#">Level 1</a></li>
        <li><a href="#">Level 1</a></li>
    </ul>
</div>


    <form class="navbar-form navbar-left" role="search">
    <div class="form-group search-header">
        <input type="text" class="form-control" placeholder="Search">
        <button type="submit" class="search-button glyphicon glyphicon-search"></button>
    </div>
</form>
-->

</header>