<aside th:fragment="sidebar">
    <div id="sidebar-left"  class="visible">
        <div class="sidebar-left-inner">
            <!-- sidebar menu start-->
            <div class="menu-custom left-menu">
                <ul>
                    <li><a href="#">My profile <span class="badge">13</span></a></li>
                    <li><a href="#">My Groups  <span class="caret pull-right"></span></a>
                        <ul>
                            <li><a href="#">Room</a></li>
                            <li><a href="#">Project</a></li>
                            <li><a href="#">Unit <span class="badge">4</span></a></li>
                            <li><a href="#">Custom Groups<span class="caret pull-right"></span></a>
                                <ul>
                                    <li><a href="#">My lovely colleagues</a></li>
                                    <li><a href="#">Managers</a></li>
                                    <li><a href="#">Bear party</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Floor</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Accidents</a></li>
                    <li><a href="#">Wish Lists</a></li>
                    <li><a href="#">Birthdays</a></li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </div>
</aside>