<aside th:fragment="sidebar">
    <div id="sidebar-left"  class="visible">
        <div class="sidebar-left-inner">
            <!-- sidebar menu start-->
            <div class="menu-custom left-menu">
                <ul>
                    <li><a href="#">My profile <span class="badge">13</span></a></li>
                    <li><a href="#">My Groups  <span class="caret pull-right"></span></a>
                        <ul>
                            <li><a href="#">Level 2</a></li>
                            <li><a href="#">Level 2</a></li>
                            <li><a href="#">Level 2 <span class="badge">42</span></a></li>
                            <li><a href="#">Level 2 <span class="caret pull-right"></span></a>
                                <ul>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Level 2</a></li>
                            <li><a href="#">Level 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Accidents</a></li>
                    <li><a href="#">Wish Lists</a></li>
                    <li><a href="#">Birthdays</a></li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </div>
</aside>