<section class="main-content show-left-menu" th:fragment="content">

<div class="row top-panel" id="first-level-panel">
    
    <div class="buttons">
            <button type="button" id="btn-accident-global" class="btn btn-lg btn-danger">Accident!
            </button>
    
            <button type="button" id="btn-wish-global" class="btn btn-lg btn-info">I Wish...</button>
            <button type="button" id="btn-groups-global" class="btn btn-lg btn-warning" style="float: right">My groups</button>
        </div>
</div>
        

<div class="row padding-content">
<div class="col-sm-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Happy Birthday!</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-success"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-info"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-warning"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-danger"> <a href="#" class="alert-link">...</a> </div>
        </div>
    </div>
</div>

    <div class="col-sm-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Happy Birthday!</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-info"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-warning"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-danger"> <a href="#" class="alert-link">...</a> </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Happy Birthday!</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-info"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-warning"> <a href="#" class="alert-link">...</a> </div>
                <div class="alert alert-danger"> <a href="#" class="alert-link">...</a> </div>
            </div>
        </div>
    </div>
</div>



</section>