There is no no-color option ("less --help" for help)
// Header top navigation
//-----------------------------------------
@navbar-height: 40px;
@navbar-bg-color: #2980BA;
@navbar-border-bottom-color: #3273a2;

@nav-link-hover-bg : #fafafa;

@navbar-brand-color: #aad0e8;
@navbar-brand-fontsize: 25px;

@navbar-link-color: #ffffff;

@navbar-search-border-radius: 15px;

// Sidebar
//-----------------------------------------


// Content area
//-----------------------------------------
@row-panel-bg: #f5f5f5;

// Footer area
//-----------------------------------------
@footer-bg-color: #f5f5f5;