<section class="main-content show-left-menu" th:fragment="content">

<div class="row top-panel" id="first-level-panel">

    <div class="buttons">
        <button type="button" id="btn-accident-global" class="btn btn-lg btn-danger">Accident!
        </button>

        <button type="button" id="btn-wish-global" class="btn btn-lg btn-info">I Wish...</button>
        <button type="button" id="btn-groups-global" class="btn btn-lg btn-warning" style="float: right">My groups</button>
    </div>
</div>


<div class="row padding-content">

    <div class="col-sm-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading hb-title" style=" background-color: #14a085;">
                <h3 class="panel-title" style="color: #fff">Happy Birthday!</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="hb-name">Aliaksei Zhynhiarouski</span>
                        <span class="hb-date">13-02-1991</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">Andrei Akatsei</span>
                        <span class="hb-date">13-02-1991</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">Maksim Golunko</span>
                        <span class="hb-date">13-02-1991</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">Dzmitry Naskou</span>
                        <span class="hb-date">13-02-1991</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">Irina Karaseva</span>
                        <span class="hb-date">13-02-1991</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading hb-title" style=" background-color: #d15627">
                <h3 class="panel-title" style="color: #fff">Accidents</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="hb-name">FIRE!</span>
                        <span class="hb-date">high</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">NO TOILET PAPER!!!</span>
                        <span class="hb-date">high</span>
                    </li>
                    <li class="list-group-item">
                        <span class="hb-name">VERY BIG TROUBLE!</span>
                        <span class="hb-date">average</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row padding-content">
    <div class="col-sm-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #955BA5">
                <h3 class="panel-title" style="color: #fff">Wish list</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <a href="#" class="alert-link">I WANNA DARTS</a>
                    <span class="hb-date"> like! <span class="badge">19</span></span>
                </div>
                <div class="alert alert-info">
                    <a href="#" class="alert-link">Need more time</a>
                    <span class="hb-date"> like! <span class="badge">2</span></span>
                </div>
                <div class="alert alert-info"><a href="#" class="alert-link">...</a></div>
                <div class="alert alert-info"><a href="#" class="alert-link">...</a></div>
                <div class="alert alert-info"><a href="#" class="alert-link">...</a></div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Custom Events</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning">
                    <a href="#" class="alert-link">Define me</a>
                </div>
                <div class="alert alert-warning">
                    <a href="#" class="alert-link">Need more time</a>
                </div>
                <div class="alert alert-warning"><a href="#" class="alert-link">...</a></div>
                <div class="alert alert-warning"><a href="#" class="alert-link">...</a></div>
                <div class="alert alert-warning"><a href="#" class="alert-link">...</a></div>
            </div>
        </div>
    </div>
</div>

</section>