<section class="main-content show-left-menu" th:fragment="content">

<div class="row top-panel" id="first-level-panel">

    <div class="buttons">
            <button type="button" id="btn-accident-global" class="btn btn-lg btn-danger">Accident!
            </button>
    
            <button type="button" id="btn-wish-global" class="btn btn-lg btn-info">I Wish...</button>
            <button type="button" id="btn-groups-global" class="btn btn-lg btn-warning" style="float: right">My groups</button>
        </div>
</div>


<div class="row padding-content">
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Happy Birthday!</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-success"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-info"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-warning"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-danger"> <a href="#" class="alert-link">...</a> </div>
        </div>
    </div>
</div>


<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Accidents!</h3>
        </div>
        <div class="panel-body">

            <div class="tabbable box-tabs"> <ul class="nav nav-tabs"> <li class=""><a href="#box_tab3" data-toggle="tab">Section 3</a></li> <li class="active"><a href="#box_tab2" data-toggle="tab">Section 2</a></li> <li class=""><a href="#box_tab1" data-toggle="tab">Section 1</a></li> </ul> <div class="tab-content"> <div class="tab-pane" id="box_tab1"> <div class="alert alert-warning"><strong>Hey there!</strong> I'm a cool alert.</div> <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. </p> </div> <div class="tab-pane active" id="box_tab2"> <p>Content #2</p> </div> <div class="tab-pane" id="box_tab3"> <p>Content #3</p> </div> </div> </div>
        </div>
    </div>
</div>
</div>

<div class="row padding-content">
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Wish list</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-success"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-info"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-warning"> <a href="#" class="alert-link">...</a> </div>
            <div class="alert alert-danger"> <a href="#" class="alert-link">...</a> </div>
        </div>
    </div>
</div>


<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My Custom Events</h3>
        </div>
        <div class="panel-body">

            <div class="tabbable box-tabs"> <ul class="nav nav-tabs"> <li class=""><a href="#box_tab3" data-toggle="tab">Section 3</a></li> <li class="active"><a href="#box_tab2" data-toggle="tab">Section 2</a></li> <li class=""><a href="#box_tab1" data-toggle="tab">Section 1</a></li> </ul> <div class="tab-content"> <div class="tab-pane" id="box_tab1"> <div class="alert alert-warning"><strong>Hey there!</strong> I'm a cool alert.</div> <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. </p> </div> <div class="tab-pane active" id="box_tab2"> <p>Content #2</p> </div> <div class="tab-pane" id="box_tab3"> <p>Content #3</p> </div> </div> </div>
        </div>
    </div>
</div>
</div>
<!--

<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Complete</span> </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete</span> </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"> <span class="sr-only">45% Complete</span> </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <div class="list-group"> <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a> <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a> <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a> </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body"> <span class="label label-default">Default</span> <span class="label label-primary">Primary</span> <span class="label label-success">Success</span> <span class="label label-info">Info</span> <span class="label label-warning">Warning</span> <span class="label label-danger">Danger</span> </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default">Dropup</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group dropup">
                    <button type="button" class="btn btn-primary">Right dropup</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <div class="list-group"> <a href="#" class="list-group-item active"> Cras justo odio </a> <a href="#" class="list-group-item">Dapibus ac facilisis in</a> <a href="#" class="list-group-item">Morbi leo risus</a> <a href="#" class="list-group-item">Porta ac consectetur ac</a> <a href="#" class="list-group-item">Vestibulum at eros</a> </div>
        </div>
    </div>
</div>
-->



</section>