<section class="main-content show-left-menu" th:fragment="content">

<div class="row top-panel" id="first-level-panel">
    
    <div class="buttons">
        <button type="button" id="btn-accident-global" class="btn btn-lg btn-danger">Accident!
        </button>

        <button type="button" id="btn-wish-global" class="btn btn-lg btn-info">I Wish...</button>
        <button type="button" id="btn-groups-global" class="btn btn-lg btn-warning" style="float: right">My groups</button>
    </div>
</div>
        

<div class="row padding-content">
<div class="col-sm-6 col-lg-6">
    <h1>Urgent! Submit the accident</h1>
    <form role="form" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Accident" />
      </div>
     <div class="form-group">
                <label for="group-select">Group</label>
         <select class="form-control " id="group-select" >
                     <option>UPSA</option>
                     <option>E3S</option>
         </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Description"> </textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Attach file</label>
        <input type="file" id="exampleInputFile" />
        <p class="help-block">A photo can be attached.</p>
      </div>
      
      <button type="submit" class="btn btn-success btn-lg" id = "accident-post">Submit</button>
    </form>
</div>


<div class="col-sm-6 col-lg-6">
   
</div>
</div>

</section>